*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #1d0337;
}

main {
    text-align: center;
    color: white;
    margin-top: 3rem;
}

#output {
    margin-top: 2rem;
}